<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Converter Box</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<div class="topbar" data-scrollspy="scrollspy">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="/">Converter Box</a>
        </div>
      </div>
    </div>


 <div class="container">
    <div class="content">

<% if @output_body %>
    <h2><%= @output_title %></h2>
<pre><%= @output_body %></pre>
    <% end%>

    <hr>

      <div class="span8">
        <h2>Convert Ruby Hash to YAML</h2>
          <form action='/' method='post'>
          <textarea class="field span12" name="ruby_hash" rows="20" placeholder=""><%= @ruby_hash %></textarea>
       <input class="btn btn-primary" type="submit" name="login" value="Convert it!" />
      </form>
      </div>


      <div class="span8">
        <h2>Convert JSON Hash to YAML</h2>
          <form action='/' method='post'>
          <textarea class="field span12" name="json_hash" rows="20" placeholder=""><%= @ruby_hash %></textarea>
       <input class="btn btn-primary" type="submit" name="login" value="Convert it!" />
      </form>
      </div>


      <div class="span8">
        <h2>Base64 Strict Encode</h2>
          <form action='/' method='post'>
          <input class="field span12" name="string_to_strict64_encode" value="<%= @string_to_strict64_encode %>">
       <input class="btn btn-primary" type="submit" name="login" value="Encode it!" />
      </form>
      </div>


      <div class="span8">
        <h2>Base64 Strict Decode</h2>
          <form action='/' method='post'>
          <input class="field span12" name="string_to_strict64_decode" value="<%= @string_to_strict64_decode %>">
       <input class="btn btn-primary" type="submit" name="login" value="Decode it!" />
      </form>
      </div>



    </div>
  </div>

</body>
</html>
